<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Microsoft.Azure.DocumentDBStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Microsoft.Azure.DocumentDBStudio.Properties.Settings>
      <setting name="RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomDocumentDisplayIdentifier" serializeAs="String">
        <value>Name</value>
      </setting>
      <setting name="HideDocumentSystemProperties" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TextView" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideOffers" serializeAs="String">
        <value>True</value>
      </setting>
    </Microsoft.Azure.DocumentDBStudio.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.diagnostics>
    <switches>
      <add name="SourceSwitch" value="Verbose" />
    </switches>
    <sources>
      <source name="DocDBTrace" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="MyTextListener" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime,ProcessId,ThreadId" initializeData="DocumentDbStudioTrace.txt"></add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
